@charset "UTF-8";
@import url(vendor/bulma.min.css);
@import url(vendor/lity.min.css);
@import url(vendor/swiper.min.css);
:root {
  --color-primary: #9E0008;
  --color-primary-dark: #790F01;
  --color-primary-font: #FEEDBF;
  --color-dark-grey-1: #333333;
  --color-dark-grey-2: #292929;
  --color-dark-grey-3: #222222; }

@font-face {
  font-family: 'Eurostile Regular';
  src: url(fonts/Eurostile.ttf); }

* {
  font-family: 'Eurostile Regular', sans-serif; }

.text-center {
  text-align: center; }

.logo {
  padding-right: 80px;
  position: relative;
  transition: 400ms all;
  -webkit-transition: 400ms all;
  z-index: 3;
  float: left;
  margin-left: 2.5rem; }
  @media screen and (max-width: 1087px) {
    .logo {
      margin-left: 0; } }

.logo:before {
  content: '';
  -webkit-clip-path: polygon(74% 0, 100% 0%, 86% 100%, 23% 100%);
  clip-path: polygon(74% 0, 100% 0%, 86% 100%, 23% 100%);
  background: var(--color-primary-font);
  position: absolute;
  right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: -48px;
  z-index: -1;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.logo:after {
  content: '';
  -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  background: #9e0008;
  position: absolute;
  right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: -48px;
  z-index: -1;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.videobox-icon-play__thumbnails--small {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: absolute !important;
  height: 35% !important;
  width: 20% !important; }

.videobox-icon-play__thumbnails--big {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: absolute !important;
  height: 25% !important;
  width: 15% !important; }

.card.detail-page {
  box-shadow: none; }
  .card.detail-page .card-content {
    padding: 1.5rem 0 0 0; }

.nav-down {
  position: fixed;
  z-index: 2000;
  top: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }

.nav-up {
  top: -40px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }

.view-more {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--color-dark-grey-2);
  padding-bottom: 10px;
  background: url(../img/more.png) repeat-x;
  background-position: 0px 100%;
  background-size: 83px auto;
  -webkit-animation: m-btn_more 4s infinite linear;
  animation: m-btn_more 4s infinite linear;
  -webkit-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
  -moz-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
  -ms-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
  -o-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
  transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96); }

.view-more:hover {
  -webkit-animation: m-btn_more_hover 2.5s infinite linear;
  animation: m-btn_more_hover 2.5s infinite linear; }

@keyframes m-btn_more {
  0% {
    background-position: 0px 100%; }
  100% {
    background-position: 84px 100%; } }

@-webkit-keyframes m-btn_more_hover {
  0% {
    background-position: 0px 100%; }
  100% {
    background-position: -84px 100%; } }

.header {
  background-color: var(--color-dark-grey-2);
  height: calc(2rem + 1px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .7 s ease; }
  .header .footer-icon-header {
    display: flex;
    margin-right: 1rem; }
    .header .footer-icon-header .footer-item {
      padding: .5rem;
      line-height: normal; }

.card-content .fb {
  background: url(../img/facebook.png) center no-repeat;
  background-size: cover;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-decoration: none;
  margin-right: 4px;
  float: right;
  margin-top: 3px; }

.card-content .tw {
  background: url(../img/twitter.png) center no-repeat;
  background-size: cover;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-decoration: none;
  margin-right: 4px;
  float: right;
  margin-top: 3px; }

.card-content .read-more {
  font-size: 0.8em;
  display: inline-block;
  text-decoration: none;
  color: #9f2c1c;
  font-family: 'Century Gothic', sans serif;
  width: auto; }

.card-content em {
  font-size: 0.8em;
  font-family: 'Century Gothic', sans serif;
  color: #777777;
  font-weight: bold; }

.h-divider {
  border-bottom: 3px solid #d43723;
  width: 60px;
  margin: 10px auto 50px; }

.signin {
  background-color: var(--color-dark-grey-2);
  width: 100%;
  padding: 0 25%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 1001;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 3fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all .5s ease-out; }
  .signin .box {
    border: 2px solid white;
    background: none;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-out;
    margin-bottom: 0; }
    .signin .box img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
      transition: all .2s ease-out; }
    .signin .box:hover img {
      width: 55px;
      height: 55px; }

.navbar.is-primary {
  background-color: var(--color-dark-grey-3);
  color: var(--color-primary-font);
  left: 1rem;
  right: 1rem;
  margin-right: 1.5rem;
  z-index: 1000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }
  @media screen and (max-width: 1087px) {
    .navbar.is-primary {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      margin-right: 0 !important; } }
  .navbar.is-primary .navbar-start a.navbar-item {
    font-size: 1.1rem;
    color: var(--color-primary-font); }
    .navbar.is-primary .navbar-start a.navbar-item:hover {
      background-color: transparent;
      color: var(--color-primary-font); }
  .navbar.is-primary .navbar-brand a.navbar-item:hover {
    background-color: transparent;
    color: var(--color-primary-font); }
  .navbar.is-primary .navbar-item img {
    max-height: 15rem; }
  @media screen and (max-width: 1087px) {
    .navbar.is-primary .navbar-menu {
      background-color: var(--color-dark-grey-3); } }

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 250px;
  grid-gap: 15px;
  z-index: 99; }
  #gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #gallery h1 {
    grid-area: title; }
  #gallery hr {
    grid-area: divider; }
  #gallery .is-big {
    grid-column: span 2; }

.hero.is-fullheight {
  min-height: 90vh; }

.hero.header-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #FFF; }
  .hero.header-image .container-fluid {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease; }
    .hero.header-image .container-fluid .navbar.is-primary {
      border-radius: 5px; }
  @media screen and (max-width: 1087px) {
    .hero.header-image .container-fluid {
      padding: 0 !important;
      margin-top: 2rem; }
      .hero.header-image .container-fluid .navbar.is-primary {
        border-radius: 0 !important; } }
  .hero.header-image .hero-body .container .title {
    text-align: center;
    font-size: 2.5rem; }
    @media screen and (max-width: 480px) {
      .hero.header-image .hero-body .container .title {
        margin-bottom: 1.3rem; } }
  .hero.header-image .hero-body .container .subtitle {
    text-align: center;
    font-size: 1.42rem; }
  .hero.header-image .hero-body .container .cta {
    text-align: center; }
    .hero.header-image .hero-body .container .cta .button.is-primary.is-inverted.is-outlined:hover {
      background-color: #fff;
      color: var(--color-dark-grey-1); }
    .hero.header-image .hero-body .container .cta .button.is-primary.is-modified {
      background-color: #9f2c1c;
      font-size: 1em;
      line-height: 1;
      color: white;
      font-family: 'Century Gothic', sans serif;
      font-weight: bold;
      padding: 20px 25px; }
      .hero.header-image .hero-body .container .cta .button.is-primary.is-modified:hover {
        background-color: transparent;
        border: 2px solid #9f2c1c; }

.hero.header-image.detail-page {
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .hero.header-image.detail-page .container-fluid {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease; }
    .hero.header-image.detail-page .container-fluid .navbar.is-primary {
      border-radius: 5px; }
  @media screen and (max-width: 1087px) {
    .hero.header-image.detail-page .container-fluid {
      padding: 0 !important;
      margin-top: 2rem; }
      .hero.header-image.detail-page .container-fluid .navbar.is-primary {
        border-radius: 0 !important; } }
  .hero.header-image.detail-page .hero-body .container .title {
    text-align: center;
    font-size: 2.5rem; }
    @media screen and (max-width: 480px) {
      .hero.header-image.detail-page .hero-body .container .title {
        margin-bottom: 1.3rem; } }
  .hero.header-image.detail-page .hero-body .container .subtitle {
    text-align: center;
    font-size: 1.42rem; }
  .hero.header-image.detail-page .hero-body .container .cta {
    text-align: center; }
    .hero.header-image.detail-page .hero-body .container .cta .button.is-primary.is-inverted.is-outlined:hover {
      background-color: #fff;
      color: var(--color-dark-grey-1); }
    .hero.header-image.detail-page .hero-body .container .cta .button.is-primary.is-modified {
      background-color: #9f2c1c;
      font-size: 1em;
      line-height: 1;
      color: white;
      font-family: 'Century Gothic', sans serif;
      font-weight: bold;
      padding: 20px 25px; }
      .hero.header-image.detail-page .hero-body .container .cta .button.is-primary.is-modified:hover {
        background-color: transparent;
        border: 2px solid #9f2c1c; }

.hero.is-danger.is-bold.divider {
  background-image: url(../img/banner-supersoccer-gif.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFF;
  margin-bottom: 30px; }

.hero.is-large.event-detail {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/slider/futsal.jpg);
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply; }

.section.news .container > .title {
  text-align: center;
  font-size: 2.5rem; }

.section.news .container .news-title {
  text-transform: uppercase;
  color: var(--color-primary-dark); }

.section.news .container .news-content {
  color: var(--color-grey-dark-1); }

.overlay.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: 2; }

.section.news.gallery {
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: relative; }

footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: var(--color-primary); }
  footer ul.footer-menu {
    width: 100%;
    text-align: center;
    margin: 15px auto; }
    footer ul.footer-menu li {
      display: inline;
      margin-right: 5px; }
      footer ul.footer-menu li a {
        color: white;
        opacity: .7;
        transition: all .3s ease-out; }
        footer ul.footer-menu li a:hover {
          opacity: 1; }
      footer ul.footer-menu li:not(:last-child)::after {
        content: "|";
        margin-left: 5px;
        color: white; }
    footer ul.footer-menu.secondary {
      margin: 20px auto 5px auto;
      font-size: 12px; }
    footer ul.footer-menu.sosmed {
      font-size: 20px;
      margin: 15px auto; }
      footer ul.footer-menu.sosmed li:not(:last-child)::after {
        content: " ";
        margin-left: 5px;
        color: white; }
  footer .footer-copyright {
    font-size: 13px;
    color: white;
    opacity: .6; }

.footer-1 {
  background-color: var(--color-dark-grey-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  padding: 2rem 1rem; }
  .footer-1 .footer-link {
    display: flex; }
    .footer-1 .footer-link > .footer-item:not(:last-child) {
      margin-right: 3rem; }
    .footer-1 .footer-link > .footer-item a:link, .footer-1 .footer-link > .footer-item a:visited {
      color: var(--color-primary-font);
      text-decoration: none;
      cursor: pointer; }
  .footer-1 .footer-icon-1 {
    display: flex; }
    .footer-1 .footer-icon-1 > .footer-item a:link, .footer-1 .footer-icon-1 > .footer-item a:visited {
      color: var(--color-primary-font);
      text-decoration: none;
      cursor: pointer;
      font-size: 1.3rem;
      margin-left: 1.2rem; }
  .footer-1 p {
    color: white;
    font-size: .8rem; }

@media screen and (min-width: 769px), print {
  .hero.is-large.event-detail .hero-body {
    padding-bottom: 5rem;
    padding-top: 3rem; }
    .hero.is-large.event-detail .hero-body .column.event-detail {
      width: 25rem; } }

@media screen and (max-width: 769px), print {
  .hero.is-large.event-detail .hero-body .column.event-detail {
    width: auto; } }

.is-fixed-top {
  border-radius: 0 !important; }
  .is-fixed-top .hero.header-image .container-fluid {
    padding: 0;
    margin-top: 0; }
    .is-fixed-top .hero.header-image .container-fluid .navbar.is-primary {
      border-radius: 10px; }

.u-large-text {
  text-align: center;
  font-size: 1.6rem; }
  @media screen and (max-width: 769px), print {
    .u-large-text {
      font-size: 1.3rem; } }

.section.club h1 {
  text-align: center;
  font-size: 2.6rem; }

.carousels {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh; }

.hero.is-primary .tabs.is-boxed li.is-active a {
  background-color: #9E0008;
  border-color: var(--color-dark-grey-3);
  color: white;
  border-color: #9E0008;
  transition: all .3s ease-out; }
  .hero.is-primary .tabs.is-boxed li.is-active a:hover {
    background-color: #222222;
    color: #FFFFFF;
    border-color: #222222; }

.hero-carousel .slick-list, .hero-carousel .slick-track {
  height: 100%; }

.carousels-nav .slick-list .slick-track {
  transform: none !important; }
  .carousels-nav .slick-list .slick-track a.slick-slide {
    text-align: center;
    border-radius: 0; }
    .carousels-nav .slick-list .slick-track a.slick-slide.slick-current {
      background-color: #9E0008;
      color: #FFFFFF; }
    .carousels-nav .slick-list .slick-track a.slick-slide:not(.slick-current) {
      background-color: #FFFFFF;
      color: #222222; }

.hero-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: initial;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3); }
  .hero-caption .container {
    text-align: center; }
    .hero-caption .container h1.caption-title {
      font-size: 3em;
      margin-bottom: 5px; }
      @media (max-width: 480px) {
        .hero-caption .container h1.caption-title {
          font-size: 1.5rem; } }
    .hero-caption .container h2.caption-subtitle {
      font-size: 2em;
      margin-bottom: 15px; }
      @media (max-width: 480px) {
        .hero-caption .container h2.caption-subtitle {
          font-size: 1rem; } }
    .hero-caption .container .cta .button {
      background-color: #9E0008;
      transition: all .3s ease; }
      @media (max-width: 480px) {
        .hero-caption .container .cta .button .is-medium.is-primary.is-modified {
          font-size: 1rem !important; } }
      .hero-caption .container .cta .button:hover {
        background-color: white;
        color: #9E0008; }

#sscorner .news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 35px; }
  @media (max-width: 480px) {
    #sscorner .news-grid {
      grid-template-columns: repeat(2, minmax(7rem, 1fr)); } }
  #sscorner .news-grid .news-item {
    position: relative;
    height: 100%;
    transition: all .3s ease-out;
    border-radius: 5px; }
    #sscorner .news-grid .news-item img.is-background {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #sscorner .news-grid .news-item .news-detail {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      padding-bottom: 15px;
      width: 100%;
      background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, rgba(34, 34, 34, 0.75) 60%, #222 90%);
      transition: all .3s ease-out; }
      #sscorner .news-grid .news-item .news-detail .news-type {
        color: white;
        font-size: .8rem; }
      #sscorner .news-grid .news-item .news-detail .news-title {
        color: white;
        font-size: 1.3rem; }
        @media (max-width: 480px) {
          #sscorner .news-grid .news-item .news-detail .news-title {
            font-size: 1rem; } }
      #sscorner .news-grid .news-item .news-detail .news-meta {
        color: white;
        font-size: .7rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px; }
        @media (max-width: 480px) {
          #sscorner .news-grid .news-item .news-detail .news-meta {
            font-size: .6rem; } }
    #sscorner .news-grid .news-item.is-big {
      grid-column: span 2; }
    #sscorner .news-grid .news-item:hover {
      position: relative;
      transform: translateY(-7px);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5); }
      #sscorner .news-grid .news-item:hover .news-detail {
        background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, #9e0008 90%); }

.list-news .list-news-options {
  background-color: #EDEDED;
  padding: 1rem; }
  .list-news .list-news-options__label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .5rem; }

.list-news .list-news-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr); }
  .list-news .list-news-item__thumbnail {
    grid-column: span 2;
    grid-row: span 2; }
  .list-news .list-news-item__title {
    grid-column: span 2;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    padding: .6rem 0; }
  .list-news .list-news-item__author {
    grid-column: 1;
    font-weight: bold;
    margin-bottom: .6rem; }
  .list-news .list-news-item__date {
    grid-column: 2;
    font-weight: bold;
    margin-bottom: .6rem; }
  .list-news .list-news-item__excerpt {
    grid-column: span 2; }

section.gallery .title {
  text-align: center; }

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 35px; }
  .gallery-grid .gallery-item {
    position: relative;
    height: 100%;
    transition: all .3s ease-out;
    border-radius: 10px; }
    .gallery-grid .gallery-item .is-overlay {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: none;
      color: white;
      transition: all .2s ease; }
    .gallery-grid .gallery-item img.is-background {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .gallery-grid .gallery-item img.is-forvideo {
      position: absolute;
      right: 10px;
      top: 10px;
      max-width: 35px; }
    .gallery-grid .gallery-item .gallery-detail {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      padding-bottom: 15px;
      width: 100%;
      background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, rgba(34, 34, 34, 0.75) 60%, #222 90%); }
      .gallery-grid .gallery-item .gallery-detail .gallery-type {
        color: white;
        font-size: .8rem; }
    .gallery-grid .gallery-item.is-big {
      grid-column: span 2; }
    .gallery-grid .gallery-item:hover {
      position: relative;
      transform: translateY(-6px);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5); }
      .gallery-grid .gallery-item:hover .is-overlay {
        display: flex; }

.area-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px; }
  .area-container .area-box {
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: none;
    height: auto; }
    .area-container .area-box img.is-areaimage {
      width: 100%;
      object-fit: cover;
      height: 100%; }
    .area-container .area-box .city-detail {
      background-color: rgba(158, 0, 8, 0.4);
      margin: auto;
      width: 150px;
      padding: 6px;
      position: absolute;
      top: 0;
      left: 0; }
    .area-container .area-box:hover .text {
      background-color: rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 480px) {
  .area-container {
    grid-template-columns: 1fr; }
  .md-stepper-horizontal .md-step .md-step-title {
    font-size: 10px !important; }
  .hide-mobile {
    display: none; } }

.winner-detail .area-date {
  font-weight: bold;
  border-bottom: 1px solid #9E0008;
  padding: 6px 0;
  text-align: center; }

.winner-detail .area-winner {
  padding: 7px; }
  .winner-detail .area-winner li {
    margin: 5px 0; }

.md-step {
  text-align: center;
  cursor: pointer; }
  .md-step img.is-background {
    max-width: 100%;
    transition: all .3s ease; }
  .md-step:not(.active) img.is-background {
    filter: grayscale(100%); }
  .md-step:hover:not(.active) img.is-background {
    filter: grayscale(0%); }

#eurofutsal .title {
  text-align: center; }

#eurofutsal .hero.is-fullheight {
  min-height: 100vh; }

#eurofutsal .btn-view-more {
  color: #9E0008;
  padding: 5px 15px;
  border: 2px solid #9E0008;
  transition: all .2s ease; }
  #eurofutsal .btn-view-more:hover {
    background-color: #9E0008;
    color: white; }

#eurofutsal .regional-box {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; }
  #eurofutsal .regional-box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  #eurofutsal .regional-box .regional-detail {
    position: absolute; }
    #eurofutsal .regional-box .regional-detail .regional-title {
      font-size: 32px;
      font-weight: bold; }
    #eurofutsal .regional-box .regional-detail .regional-date {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px; }
    #eurofutsal .regional-box .regional-detail .bracket-cta {
      margin-top: 15px;
      padding: 7px 15px;
      background-color: #9E0008;
      color: white;
      transition: all .3s ease-out; }
      #eurofutsal .regional-box .regional-detail .bracket-cta:hover {
        background-color: #212121; }
  #eurofutsal .regional-box img {
    object-fit: cover; }

#eurofutsal .final-box {
  display: grid;
  grid-template-rows: 75px 10px 250px 1fr 50px 3fr;
  text-align: center; }
  #eurofutsal .final-box .final-title {
    font-size: 3em; }
  #eurofutsal .final-box .final-date {
    font-size: 1.2em; }
  #eurofutsal .final-box .final-team {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
    align-items: center;
    grid-gap: 30px; }
    #eurofutsal .final-box .final-team .logo {
      padding-right: 0;
      max-width: 150px; }
    #eurofutsal .final-box .final-team span {
      font-size: 1.5em; }
    #eurofutsal .final-box .final-team .name {
      font-size: 2em;
      font-weight: bold; }
      #eurofutsal .final-box .final-team .name.home {
        text-align: right; }
      #eurofutsal .final-box .final-team .name.away {
        text-align: left; }
  #eurofutsal .final-box .final-statistics {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-gap: 70px;
    font-size: 1.2em; }
    #eurofutsal .final-box .final-statistics i {
      margin-right: 8px; }
    #eurofutsal .final-box .final-statistics ul.goals li {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px 0; }
      #eurofutsal .final-box .final-statistics ul.goals li:not(:last-child) {
        border-bottom: 1px solid rgba(150, 150, 150, 0.7); }
      #eurofutsal .final-box .final-statistics ul.goals li .type {
        text-align: right; }
    #eurofutsal .final-box .final-statistics ul.goals.home {
      text-align: left; }
    #eurofutsal .final-box .final-statistics ul.goals.away {
      text-align: right; }
      #eurofutsal .final-box .final-statistics ul.goals.away .type {
        text-align: left; }
    #eurofutsal .final-box .final-statistics .score {
      font-size: 3em;
      font-weight: bold;
      align-items: center;
      justify-content: center; }
  #eurofutsal .final-box .live-stream-box {
    max-width: 70%;
    height: 100%;
    background-color: #3F3F3F;
    margin: auto;
    padding-bottom: 50px; }

#eurofutsal header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  opacity: .8; }
  #eurofutsal header .navbar.is-primary {
    left: 0;
    right: 0;
    margin-right: 0; }
    #eurofutsal header .navbar.is-primary .navbar-start a.navbar-item {
      color: white; }
  #eurofutsal header .brand-text {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--color-primary-font); }
  #eurofutsal header .footer-item {
    padding: 5px;
    margin-right: 15px; }

#eurofutsal .showSignInBox img {
  padding-top: 8px; }

#eurofutsal .regional-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

#eurofutsal .news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px; }
  #eurofutsal .news-grid .news-item {
    position: relative;
    transition: all .3s ease;
    border-radius: 5px; }
    #eurofutsal .news-grid .news-item .is-background {
      border-radius: 5px 5px 0 0;
      height: auto; }
    #eurofutsal .news-grid .news-item .news-detail {
      background: rgba(158, 0, 8, 0.5);
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px; }
    #eurofutsal .news-grid .news-item .news-meta {
      display: block; }
    #eurofutsal .news-grid .news-item:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

#eurofutsal .gallery-grid {
  grid-template-columns: repeat(6, 1fr); }

#eurofutsal .stats-box {
  width: 255px;
  height: 255px;
  margin-bottom: 30px;
  background-color: #9E0008;
  color: white;
  padding: 10px;
  position: relative; }
  #eurofutsal .stats-box .is-background {
    position: absolute;
    bottom: 0;
    right: 0; }
  #eurofutsal .stats-box .stat-title {
    font-size: 2em;
    font-weight: bold; }
  #eurofutsal .stats-box .stat-detail {
    position: absolute;
    bottom: 5%; }
    #eurofutsal .stats-box .stat-detail .stat-number {
      font-weight: bolder;
      font-size: 3em; }
    #eurofutsal .stats-box .stat-detail .stat-text {
      font-size: 1.7em;
      font-weight: bold; }

.live-button {
  font-weight: bold;
  padding: 5px 15px;
  background-color: #9E0008;
  color: white;
  border-radius: 5px; }
  .live-button::before {
    content: "•";
    margin-right: 7px; }
  .live-button.blink-me {
    animation: blinker 2s linear infinite; }

.fixture-table > tbody > tr:hover {
  background-color: #f5f5f5; }

.table tbody tr:last-child td, .table tbody tr:last-child th {
  border-bottom-width: 1px; }

.fixture-table {
  margin-bottom: 0 !important; }

.fixture-table .fixture-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #f3f3f3; }

.fixture-table tr td {
  vertical-align: middle; }

.fixture-table .fixtures-home-a {
  padding: 20px 8px;
  display: block;
  text-decoration: none !important;
  color: #151515;
  background-color: transparent; }

.fixture-table .fixtures-result span.total {
  font-size: 1.5em;
  font-weight: bold; }

.fixtures-home, .fixtures-away {
  width: 44%; }

.fixture-table .fixtures-result {
  min-width: 120px; }

.fixtures-home img {
  width: 38px;
  height: 38px; }

.fixtures-away img {
  width: 38px;
  height: 38px; }

.fixture-table .team-name {
  display: none; }

.fixture-detail {
  color: #212121;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .fixture-detail .score {
    padding: 20px 0; }
    .fixture-detail .score li {
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid rgba(50, 50, 50, 0.4); }
      .fixture-detail .score li i {
        grid-area: icon; }
      .fixture-detail .score li .player {
        grid-area: name;
        text-align: center; }
      .fixture-detail .score li .time {
        grid-area: time; }
    .fixture-detail .score.away li {
      grid-template-areas: "icon name time"; }
    .fixture-detail .score.home li {
      grid-template-areas: "time name icon"; }

@media (min-width: 768px) {
  .fixture-table .team-name {
    display: inline; }
  .fixtures-home .fixtures-home-a {
    padding-right: 60px;
    position: relative; }
  .fixtures-away .fixtures-home-a {
    padding-left: 60px;
    position: relative; }
  .fixtures-home img {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 38px;
    height: 38px; }
  .fixtures-away img {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 38px;
    height: 38px; } }

.award-title {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 110px;
  line-height: 100px; }

.award-container {
  float: left;
  margin-left: 50px; }

.best-player {
  width: 275px;
  height: 500px;
  position: relative;
  transform-origin: 0 100%;
  transform: skewX(-10deg) translatez(1px);
  overflow: hidden;
  border: solid 7px #feedbf;
  border-radius: 2px; }

.best-player:before {
  left: 0;
  content: '';
  position: absolute;
  width: 175%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform-origin: inherit;
  transform: skewX(10deg); }

.top-score .best-player:before {
  background-image: url("../img/player/messi.jpg"); }

.mvp .best-player:before {
  background-image: url("../img/player/ronaldo.jpg"); }

.best-player .description {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px 0; }

.best-player .description .player-name {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 33px; }

.best-player .description .team-name {
  text-align: center;
  line-height: 20px; }

.award-container .prize {
  font-size: 27px;
  margin-top: 10px; }

#eurofutsal.gallery-page .gallery-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px; }
  #eurofutsal.gallery-page .gallery-grid .gallery-item .is-background {
    height: 250px; }

/* Mobile */
@media only screen and (max-width: 480px) {
  .award-container {
    padding: 0;
    margin: 0; }
  .award-container .best-player {
    transform: skewX(0deg); } }

.table-group img {
  max-width: 20px; }

@keyframes blinker {
  50% {
    opacity: .3; } }

.bg-table-red {
  background-color: #9E0008;
  color: white; }
  .bg-table-red *:hover {
    background-color: #212121 !important; }

@media screen and (max-width: 480px) {
  #eurofutsal .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
    #eurofutsal .news-grid .news-item {
      min-height: 150px; }
      #eurofutsal .news-grid .news-item .news-detail {
        padding: 5px; }
        #eurofutsal .news-grid .news-item .news-detail .news-title {
          font-size: .9rem; }
        #eurofutsal .news-grid .news-item .news-detail .news-meta {
          display: none; }
  #eurofutsal .gallery-grid {
    grid-template-columns: 1fr 1fr; }
    #eurofutsal .gallery-grid .gallery-item.is-big {
      grid-column: span 2; }
    #eurofutsal .gallery-grid .is-background {
      height: 150px; }
  #eurofutsal .award-title {
    padding: 0;
    font-size: 75px; }
  #eurofutsal .award-container {
    padding: initial;
    float: none;
    margin-bottom: 30px; }
    #eurofutsal .award-container .best-player {
      margin: auto; }
      #eurofutsal .award-container .best-player::before {
        transform: skewX(0deg); }
  #eurofutsal .final-box {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    #eurofutsal .final-box .final-team {
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, auto); }
      #eurofutsal .final-box .final-team .logo {
        margin: auto;
        max-width: 75px; }
      #eurofutsal .final-box .final-team .name.home {
        text-align: center; }
      #eurofutsal .final-box .final-team .name.away {
        text-align: center; }
    #eurofutsal .final-box .final-statistics {
      grid-template-columns: 100%; }
  #eurofutsal.gallery-page .gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; }
    #eurofutsal.gallery-page .gallery-grid .gallery-item .is-background {
      height: 150px; }
  .article_head h1 {
    text-align: center; }
  .article_head .article_misc-list {
    text-align: center; }
  .article_head .share {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .article_head .share .share-button {
      margin-right: 0; } }

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 1087px) {
    .md-stepper-horizontal {
      display: none; } }

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px; }

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
  background-color: rgba(0, 0, 0, 0.04); }

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%; }

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575; }

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none; }

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF; }

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D; }

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #F96302; }

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: #2196f3; }

.md-stepper-horizontal.red .md-step.active .md-step-circle {
  background-color: var(--color-primary); }

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f00c"; }

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none; }

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f040"; }

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600; }

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(255, 255, 255, 0.26); }

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87); }

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600; }

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px; }

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(255, 255, 255, 0.54); }

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD; }

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px; }

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px; }

.mobile-only {
  display: none; }

.score-mobile {
  display: none; }

.final-box-mobile {
  display: none; }

@media screen and (max-width: 480px) {
  .section {
    padding: 1rem 1.5rem; }
  .h-divider {
    width: 30px; }
  .title {
    font-size: 1.1rem; }
  .section.news .container > .title {
    font-size: 1.1rem; }
  #eurofutsal {
    width: 100vw; }
    #eurofutsal header {
      width: 100vw; }
    #eurofutsal .regional-wrap {
      grid-template-columns: 1fr 1fr; }
      #eurofutsal .regional-wrap .regional-box {
        height: auto; }
        #eurofutsal .regional-wrap .regional-box .regional-title {
          font-size: 1.3rem; }
        #eurofutsal .regional-wrap .regional-box .regional-date {
          font-size: 1rem; }
  .md-stepper-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .md-stepper-horizontal .md-step {
      padding: 0; }
  .mobile-only {
    display: initial; }
    .mobile-only .slick-dotted.slick-slider {
      margin-top: 52px; }
    .mobile-only.score-mobile {
      display: grid;
      grid-template-rows: 150px 100px 150px;
      grid-template-columns: 100%; }
      .mobile-only.score-mobile img.logo {
        max-width: 120px;
        padding: 10px 0;
        margin: auto; }
      .mobile-only.score-mobile .point {
        display: grid;
        align-items: center;
        font-size: 2.5rem;
        font-weight: bold; }
  .desktop-only {
    display: none !important; }
  .hero.header-image .container-fluid {
    margin-top: 0px; }
    .hero.header-image .container-fluid .navbar.is-primary {
      margin-top: 0px !important; }
      .hero.header-image .container-fluid .navbar.is-primary ul {
        display: none !important; }
  .navbar.is-primary .navbar-menu {
    height: 100vh; }
    .navbar.is-primary .navbar-menu .navbar-start a {
      padding: 15px 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .mmt0 {
    margin: 0 !important;
    padding: 0 !important; }
    .mmt0 .stats-box {
      margin: auto; }
  #eurofutsal .final-box-mobile {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 1fr;
    text-align: center; }
    #eurofutsal .final-box-mobile .final-title {
      font-size: 1.5em;
      font-weight: bold; }
    #eurofutsal .final-box-mobile .final-date {
      font-size: 1.2em;
      font-weight: bold; }
    #eurofutsal .final-box-mobile .final-team {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 70px 40px 70px 50px; }
      #eurofutsal .final-box-mobile .final-team span {
        font-weight: bold;
        font-size: 1.3em; }
      #eurofutsal .final-box-mobile .final-team .name {
        font-size: 1.5em;
        font-weight: bold; }
      #eurofutsal .final-box-mobile .final-team .score {
        font-size: 3em;
        font-weight: bold; }
  #eurofutsal header {
    opacity: 1; }
  #eurofutsal ul.footer-icon-header {
    display: none !important; }
  #eurofutsal .mobile-slide .slider-item {
    position: relative; }
    #eurofutsal .mobile-slide .slider-item .slider-caption {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center; }
      #eurofutsal .mobile-slide .slider-item .slider-caption .slider-sub {
        font-size: 14px;
        font-weight: 300; }
  #eurofutsal .news-grid .news-item .is-background {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .hero-foot {
    display: none; }
  .title:not(:last-child) {
    margin-bottom: 0; }
  .h-divider {
    margin: 10px auto 30px auto; }
  #gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px auto auto 1fr 100px;
    grid-template-areas: "title title" "divider divider" "photo photo" "photo photo" "video video" "button button"; }
    #gallery .video-box {
      margin-top: 20px; }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px;
    padding: 20px 6%; }
    footer .footer__block.left {
      text-align: left; }
      footer .footer__block.left ul.footer__list {
        text-align: left;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold; }
        footer .footer__block.left ul.footer__list li {
          width: 50%;
          margin: 0; }
        footer .footer__block.left ul.footer__list li:first-child {
          margin-left: 0px; }
      footer .footer__block.left ul.secondary__list {
        margin: 25px 0 25px 0;
        font-size: 15px; }
        footer .footer__block.left ul.secondary__list li {
          display: inline-block;
          margin: 0 10px; }
        footer .footer__block.left ul.secondary__list li:first-child {
          margin-left: 0px; }
        footer .footer__block.left ul.secondary__list li:last-child {
          margin-left: 0; }
    footer .footer__block.right {
      justify-content: center; }
  .section.news.gallery {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; }
  .gallery-grid {
    grid-template-columns: 1fr 1fr; }
    .gallery-grid .gallery-item img.is-background {
      height: 150px; }
  #sscorner .news-grid .news-item .news-detail .news-title {
    font-size: .7rem; }
  #sscorner .news-grid .news-item .news-detail .news-meta {
    display: none; } }
