.clearfix {
	height: 55px;
}
.club-container {
	display: grid;
	grid-template-columns: 35% 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "side image";
}
.club-container .club-gath{
	width: 100%;
	grid-area: image;
}
.club-container .club-content {
	background: var(--color-primary);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr 2fr;
	grid-area: side;
}
.club-container .club-content .club-logo {
	text-align: center;
    padding-top: 15px;
}
.club-container .club-content .club-logo img{
	padding: 10px;
    border-radius: 25px;
    max-width: 200px;
}
.club-container .club-content .club-logo .club-name {
	letter-spacing: 2px;
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.club-container .club-content .club-socmed{
    text-align: center;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.club-container .club-content .club-socmed .socmed-img{
	border: 1px solid white;
    border-radius: 50%;
    max-width: 50px;
}
.club-container .columns:last-child {
     margin-bottom: 0px; 
}
.club-container .columns {
     margin-left: 0px; 
     margin-right: 0px; 
     margin-top: 0px; 
}
.info-container {
	font-weight: bold;
}
.info-container .font-info-title {
	color: var(--color-primary);
	width: 275px;
}
.info-container .font-info-body{
	color: var(--color-secondary);
}
.team-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.team-container .team-content {
	display: grid;
	grid-template-columns: 1fr;
}
.team-container .team-content .team-detail {
	display: grid;
    grid-template-columns: 100px 1fr;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.team-container .team-content .team-detail .n1{
	font-size: 80px;
}
.team-container .team-content .team-detail .n2{
	font-size: 30px;
	letter-spacing: 2px;
}
.team-container .team-content .team-detail .n3{
	font-size: 20px;
    letter-spacing: 1px;
}

@media screen and (max-width: 480px) {

	.club-container {
		grid-template-columns: 1fr;
		grid-template-rows: 100% 100%;
		grid-template-areas: "image" "side";
	}
	.club-container .club-content {
		grid-template-rows: 1fr;
	}
	.club-container .club-content .club-logo img{
	    max-width: 135px;
	}
	.club-container .club-content .club-logo {
	    padding-bottom: 30px;
	}
	.club-container .club-content .club-logo .club-name {
		font-size: 20px;
	}
	.club-container .club-content .club-socmed .socmed-font{
		font-size: 8px;
	}
	.info-container .font-info-title {
	    width: 130px;
	    font-size: 12px;
	}
	.info-container .font-info-body{
		font-size: 12px;
	}
	.team-container {
		grid-template-columns: 1fr;
	}    
	.team-container .team-content .team-detail .n2{
		font-size: 25px;
	}
}