.mobile-only{
  display: none;
}
.score-mobile{
  display: none;
}
.final-box-mobile{
    display: none;
}
@media screen and (max-width: 480px) {
  .section{
    padding: 1rem 1.5rem;
  }
  .h-divider{
    width: 30px;
  }
  .title{
    font-size: 1.1rem;
  }
  .section.news .container > .title{
    font-size: 1.1rem;
  }

  #eurofutsal{
    width: 100vw;
    header{
    width: 100vw;
    }

    .regional-wrap{
      grid-template-columns: 1fr 1fr;

      .regional-box{
        height: auto;

        .regional-title{
          font-size: 1.3rem;
        }
        .regional-date{
          font-size: 1rem;
        }
      }
    }
  }

  .md-stepper-horizontal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .md-step{
      padding: 0;
    }
  }
  .mobile-only{
    display: initial;
    .slick-dotted.slick-slider{
      margin-top: 52px;
    }
    &.score-mobile{
      display: grid;
      grid-template-rows: 150px 100px 150px;
      grid-template-columns: 100%;
      img.logo{
        max-width: 120px;
        padding: 10px 0;
        margin: auto;
      }
      .point{
        display: grid;
        align-items: center;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }
  .desktop-only{
    display: none !important;
  }
  .hero.header-image .container-fluid{
    margin-top: 0px;
    .navbar.is-primary{
      margin-top: 0px !important;
      ul{
        display: none !important;
      }
    }
  }
  .navbar.is-primary{
    .navbar-menu {
      height: 100vh;

      .navbar-start {
        a{
          padding: 15px 10px;
          border-bottom: 1px solid rgba(255, 255, 255, .4);
        }
      }
    }
  }

  .mmt0{
    margin: 0!important;
    padding: 0 !important;

    .stats-box{
      margin: auto;
    }
  }
  #eurofutsal {
    .final-box-mobile{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 50px 1fr;
      text-align: center;
      .final-title{
        font-size: 1.5em;
        font-weight: bold;
      }
      .final-date{
        font-size: 1.2em;
        font-weight: bold;
      }
      .final-team{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 70px 40px 70px 50px;
        span{
            font-weight: bold;
            font-size: 1.3em;
        }
        .name{
            font-size: 1.5em;
            font-weight: bold;
        }
        .score{
            font-size: 3em;
            font-weight: bold;
        }
      }
    }
    header{
      opacity: 1;
    }
    ul.footer-icon-header{
      display: none !important;
    }

    .mobile-slide{
      .slider-item{
        position: relative;
        .slider-caption{
          background-color: rgba(0,0,0,.6);
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: white;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          .slider-sub{
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
    .news-grid{
      .news-item{
        .is-background{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .hero-foot{
    display: none;
  }
  .title:not(:last-child){
    margin-bottom: 0;
  }
  .h-divider{
    margin: 10px auto 30px auto;
  }

  #gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px auto auto 1fr 100px;
    grid-template-areas: "title title" "divider divider" "photo photo" "photo photo" "video video" "button button";

    .video-box{
      margin-top: 20px;
    }
  }

  footer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px;
    padding: 20px 6%;

    .footer__block.left{
      text-align: left;

      ul.footer__list{
        text-align: left;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;

        li{
          width: 50%;
          margin: 0;
        }

        li:first-child{
          margin-left: 0px;
        }
      }

      ul.secondary__list{
        margin: 25px 0 25px 0;
        font-size: 15px;
        li {
          display: inline-block;
          margin: 0 10px;
        }

        li:first-child {
          margin-left: 0px;
        }

        li:last-child{
          margin-left: 0;
        }
      }

    }

    .footer__block.right{
      justify-content: center;
    }
  }
  .section.news.gallery{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  .gallery-grid{
    grid-template-columns: 1fr 1fr;
    .gallery-item{
      img.is-background{
        height: 150px;
      }
    }
  }
  #sscorner{
    .news-grid{
      .news-item{
        .news-detail{
          .news-title{
            font-size: .7rem;
          }
          .news-meta{
            display: none;
          }
        }
      }
    }
  }
}
